<footer>
  <div class="footer">
    <div class="container-footer">
      <div class="footer-row">
        <div class="footer-col">
          <h4>About</h4>
          <ul>
            <li><a href="#">The Museum Around The World</a></li>
            <li><a href="#">Visitors Rules</a></li>
            <li><a href="#">Loans and Long-Term Loans</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Our Websites</h4>
          <ul>
            <li><a href="#">Online Ticketing Service</a></li>
            <li><a href="#">Online Boutique</a></li>
            <li><a href="#">Collection</a></li>
            <li><a href="#">Corpus</a></li>
            <li><a href="#">Publication</a></li>
            <li><a href="#">Donate</a></li>
            <li><a href="#">Petite Galerie</a></li>
            <li><a href="#">Press</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Contact</h4>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Provide Feedback</a></li>
            <li><a href="#">Private Event & Shoots</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Follow Us</h4>
          <div class="social-links">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
            <a href="#"><i class="fa-brands fa-pinterest"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
