:root {
  --timing: 200ms;
  --z-index: 999;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background-color: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  text-align: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
}

body.close {
  overflow: hidden;
}

.content {
  padding-top: 80px;
  margin: 0 10% 80px 10%;
  overflow-x: hidden;
  max-width: 1600px;
  min-height: 100%;
}

/* Overlay */
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  opacity: 0;
  z-index: -1;
}

.overlay.open {
  opacity: 1;
  z-index: 1001;
}
/* map container */
.container {
  z-index: -1;
}

.map-title {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  row-gap: 1.25rem;
  column-gap: 1.25rem;
}

.mb-4 {
  height: auto;
  width: 100%;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

/* dropdown-menu */
.dropdown-menu {
  width: 1000px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
}

.dropdown-menu.open {
  z-index: 1002;
  transition: var(--timing) ease-in;
  opacity: 1;
  pointer-events: auto;
}

.dropdown-menu li {
  list-style: none;
  overflow: hidden;
}

.dropdown-menu a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.toggle_btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  right: 18px;
  top: 18px;
}

.toggle {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.toggle span {
  position: absolute;
  width: 40%;
  height: 2px;
  border-radius: 4px;
  transition: 0.5s;
  background-color: white;
}

.toggle span:nth-child(1) {
  transform: translateY(-8px);
  left: 15px;
}

.toggle.active span:nth-child(1) {
  transform: translateY(0px) rotate(-45deg);
}

.toggle span:nth-child(2) {
  transform: translateY(8px);
  left: 15px;
}

.toggle.active span:nth-child(2) {
  transform: translateY(0px) rotate(45deg);
}

/*Gallery style*/
.profile-picture {
  border-radius: 50%;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 33% 33% auto;
  place-items: center;
  column-gap: 15px;
  display: none;
}

#insert {
  grid-template-columns: auto;
  grid-auto-rows: auto;
  place-items: center start;
}

.collection {
  width: 100%;
  padding-bottom: 15px;
}

.collection-name {
  transition: .3s;
}

.collection-name:hover {
  background-color: rgb(255, 255, 255, 0.3);
  cursor: pointer;
}

.fa-angle-down {
  transition: 0.3s;
  transform: rotate(90deg);
}

.arrow-down-icon{
  pointer-events: none;
}

.arrow-down-icon.rotate {
  transform: rotate(0);
}

#like {
  display: grid;
}

.artworks {
  display: flex;
  width: 80vw;
  overflow-x: auto;
  transition: 0.3s;
  overflow-y: hidden;
  height: 0;
}

.artworks.open {
  height: 300px;
  height: 0;
  transition: height 0.3s;
  overflow-y: hidden;
}

.artworks.open {
  height: 300px;
}

.artwork1 {
  width: 100%;
  height: 350px;
  margin-bottom: 15px;
  position: relative;
}

.information {
  bottom: 0;
  position: absolute;
  background: linear-gradient(
      180deg,
      transparent,
      rgba(8, 8, 8, 0.6) 30%,
      rgb(25, 25, 25, 0.8) 70%,
      #19191c
    )
    scroll no-repeat bottom transparent;
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: 0.5s;
}

.information.open {
  height: 80%;
}

.information-box {
  position: absolute;
  top: 45px;
}

.artwork1 img {
  width: 100%;
  height: 100%;
  display: block;
}

.tabs {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  place-items: center;
  margin: 10px 0 20px 0;
}

.like,
.bookmark,
.insert {
  position: relative;
  padding: 20px;
  font-size: 1.5rem;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease;
  color: rgb(160, 160, 160);
}

.like-icon,
.bookmark-icon,
.insert-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.like:hover,
.bookmark:hover,
.insert:hover {
  border-bottom: 1px solid snow;
}

.tablinks.active {
  color: white;
  border-bottom: 1px solid snow;
}

.title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
  transition: 0.3s;
  padding: 10px;
}

.title:hover {
  background-color: rgb(255, 255, 255, 0.2);
}

.remove {
  cursor: pointer;
  margin-right: 10px;
}

/* Footer */
footer {
  width: 100%;
}

.footer-row {
  box-sizing: border-box;
}

.footer .container-footer ul {
  list-style: none;
}

.container-footer .footer-row {
  display: flex;
  flex-wrap: wrap;
}

.container-footer {
  max-width: 80%;
  margin: auto;
}

.footer {
  background-color: black;
  padding: 70px 0;
  width: 100%;
  height: 100%;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 2em;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 30px;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: red;
  height: 2px;
  box-sizing: border-box;
  width: 30%;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 1em;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #fff;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: yellow;
  padding-left: 2%;
}

.footer-col .social-links i {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.3s ease;
}

.footer-col .social-links i:hover {
  color: black;
  background-color: #fff;
}

@media (max-width: 992px) {
  .dropdown-menu {
    width: 80% !important;
  }
  .container {
    margin: 0 auto;
  }

  .like,
  .bookmark,
  .insert {
    font-size: 1.25rem;
  }

  #LIKE,
  #BOOKMARK {
    display: none;
  }

  .tabs {
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
  }
}

@media (max-width: 768px) {
  .dropdown-menu {
    height: 70vh;
  }

  .grid {
    grid-template-columns: auto;
  }

  .map-title {
    margin-bottom: 10px;
  }

  .mb-4 {
    padding: 10px;
  }

  .gallery {
    grid-template-columns: auto;
  }
}

@media (max-width: 768px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
