<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Adding Collection</title>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
  </head>
  <body>

    <div id="messageDisplay"></div>

    <form id="addNewCollectionForm">
      <div style="display: flex; align-items: center">
        <label for="name">Collection name:</label>
        <input type="text" id="name" name="name" required />
      </div>
      <button type="button" onclick="addCollection()">Create and add to collection</button>
    </form>

    <script>
      function addCollection() {
        var name = document.getElementById('name').value;
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
              document.getElementById('messageDisplay').innerHTML = "Collection added successfully!";
            } else {
              document.getElementById('messageDisplay').innerHTML = "Failed to add collection";
            }
          }
        };
        xhr.open('POST', '/add-new-collection', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.send('name=' + encodeURIComponent(name));
      }
    </script>
  </body>
</html>
