<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PHP</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
<h1>Form</h1>
<form id="uploadForm">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Enter art name">
    <br>
    <label for="description">Description</label>
    <textarea name="Description" id="description" placeholder="Enter art description"></textarea>
    <br>
    <label for="type">Type</label>
    <input type="text"  name="type" id="type" placeholder="Enter art type">
    <br>
    <label for="image">Image</label>
    <input type="file" name="image" id="image">
    <br>
    <label for="year">Year</label>
    <input type="text" name="year" id="year" placeholder="Enter art year">
    <br>
    <input type="submit" value="Send">
</form>
<script>
    document.getElementById('uploadForm').addEventListener('submit', function (e) {
        e.preventDefault();
        const fileInput = document.getElementById('image'); // Corrected id to 'image'
        const file = fileInput.files[0];
        const name = document.getElementById('name').value;
        const description = document.getElementById('description').value;
        const type = document.getElementById('type').value;
        const year = document.getElementById('year').value;

        if (file) {
            const formData = new FormData();
            formData.append('image', file);
            formData.append('name', name);
            formData.append('description', description);
            formData.append('type', type);
            formData.append('year', year);

            fetch('api/art/upload', {
                method: 'POST',
                body: formData,
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Upload successful:', data);
                })
                .catch(error => {
                    console.error('Error uploading file:', error);
                });
        } else {
            console.warn('Please select a file before uploading.');
        }
    });
</script>
</body>
</html>
