<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Home Page</title>
  </head>
  <body>
    <div id="loader"></div>
    <div id="page1">
      <div class="overlay"></div>
      <div class="dropdown-menu">
        <div class="container">
          <div class="map-title">
            <h1>Map</h1>
          </div>
          <div class="grid">
            <a href="/">
              <div class="mb-4">Main Hall</div>
            </a>
            <a href="/art-showcase">
              <div class="mb-4">Featured Collection</div>
            </a>
            <a href="/vangogh">
              <div class="mb-4">Van Gogh</div>
            </a>
            <% if (!isAuthenticated) { %>

            <a href="/login">
              <div class="mb-4">Login</div>
            </a>
            <% } else {%>
            <a href="/logout">
              <div class="mb-4">Logout</div>
            </a>
            <% } %>
            <a href="/picasso">
              <div class="mb-4">Picasso</div>
            </a>
            <a href="/personal-collection">
              <div class="mb-4">Personal Collection</div>
            </a>
          </div>
        </div>
      </div>

      <div class="toggle_btn">
        <div class="toggle">
          <span></span>
          <span></span>
        </div>
      </div>

      <div class="title" id="elementToSlideUp">
        <div class="welcome">WELCOME TO</div>
        <div class="museum-name">A HYPOTHETICAL MUSEUM</div>
        <a href="/art-showcase" class="page-transition"
          ><button class="arrow-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="16"
              width="14"
              viewBox="0 0 448 512"
            >
              <path
                d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
              />
            </svg></button
        ></a>
      </div>

      <div class="background-artwork">
        <img src="uploads/toulouse-lautrec-2.png" alt="" />
      </div>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
