<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="over.css" />
    <title>Overall</title>
  </head>
  <body>
    <!-- artist name & DOB -->
    <div class="artist-info">
      <h1>[ARTIST]</h1>
      <h2>[Birthday - Deathday]</h2>
    </div>

    <!-- artwork collection -->
    <div class="artwork-heading">
      <h4>ARTWORK COLLECTION</h4>
    </div>
    <div class="artwork-collection-container">
      <div class="artwork">
        <img src="img/The-Parasol.png" alt="parasol" />
        <div class="text">
          <h3>Artwork name</h3>
        </div>
      </div>
      <div class="artwork">
        <img src="img/The-Parasol.png" alt="parasol" />
        <div class="text">
          <h3>Artwork name</h3>
        </div>
      </div>
      <div class="artwork">
        <img src="img/The-Parasol.png" alt="parasol" />
        <div class="text">
          <h3>Artwork name</h3>
        </div>
      </div>
      <div class="artwork">
        <img src="img/The-Parasol.png" alt="parasol" />
        <div class="text">
          <h3>Artwork name</h3>
        </div>
      </div>
      <div class="artwork">
        <img src="img/The-Parasol.png" alt="parasol" />
        <div class="text">
          <h3>Artwork name</h3>
        </div>
      </div>
      <div class="artwork">
        <img src="img/The-Parasol.png" alt="parasol" />
        <div class="text">
          <h3>Artwork name</h3>
        </div>
      </div>
    </div>
  </body>
</html>
