<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artworks</title>
    <link rel="stylesheet" href="/css/collection.css" />
  </head>
  <body>
    <div class="overlay"></div>
    <div class="dropdown-menu">
      <div class="container">
        <div class="map-title">
          <h1>Map</h1>
        </div>
        <div class="grid">
          <a href="/">
            <div class="mb-4">Main Hall</div>
          </a>
          <a href="/art-showcase">
            <div class="mb-4">Featured Collection</div>
          </a>
          <a href="/vangogh">
            <div class="mb-4">Van Gogh</div>
          </a>
          <a href="/login">
            <div class="mb-4">Login</div>
          </a>
          <a href="/picasso">
            <div class="mb-4">Picasso</div>
          </a>
          <a href="/personal-collection">
            <div class="mb-4">Personal Collection</div>
          </a>
        </div>
      </div>
    </div>

    <div class="toggle_btn">
      <div class="toggle">
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="content">
      <header>
        <h1>Artworks</h1>
      </header>
      <div class="gallery">
        <% artworks.forEach((artwork) => { %>
        <div class="artwork1">
          <img
            src="<%= artwork.image %>"
            alt="<%= artwork.title %>"
          />
        </div>
        <% }) %>
      </div>
    </div>
    <script src="/js/manager.js"></script>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
